@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
}

.logo {
  width: 30px;
}

.board .title {
  margin: 20px 0;
}

.board h1 {
  margin: 10px 0;
}

.board h3 {
  color: #37474f;
}

.scorecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scorecard {
  width: 49%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.team-logo-title {
  display: flex;
  align-items: center;
}

.team-logo-title img {
  margin-right: 10px;
}

.team {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
