.container {
  max-width: 1000px;
  margin: auto;
}

html,
body {
  font-size: 62%;
}

.todo-text-field label {
  font-size: 3rem;
  display: block;
  font-weight: bold;
}

.todo-text-field input {
  font-size: 1.8rem;
  padding: 0.5rem;
  margin: 10px 0;
}

.todo-form button {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.todo-list {
  font-size: 1.6rem;
}

.todo-item--completed {
  text-decoration: line-through;
}
