.page-form {
  input {
    width: 100%;
    height: 40px;
    // padding: 3px 7px;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 10px 0;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  button {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 7px 20px;
    margin: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.signup-btn {
  color: black;
  width: 100%;
  margin-right: 10px;
}

.login-btn {
  background-color: green;
  color: white;
}
